<div class="container mt-5">
    <button (click)="get404Error()" class="btn btn-outline-primary mr-3">Error 404 Not Found</button>
    <button (click)="get400Error()" class="btn btn-outline-primary mr-3">Error 400 Bad Request</button>
    <button (click)="get500Error()" class="btn btn-outline-primary mr-3">Error 500 Server Error</button>
    <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">Error 400 Validation Error</button>
    <div class="row mt-5">
        <ul style="color: red; background-color: whitesmoke;">
            <li *ngFor="let err of validationErrors">{{err}}</li>
        </ul>
    </div>
</div>
