.cart-count{
  position: absolute;
  font-size: 1em;
  background-color: blue;
  color: white;
  border-radius: 50%;
  top: -12px;
  right: 34px;
  height: 25px;
  width: 25px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #434a40;
}
a.active {
  color: orange;
}
