<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 bg-white border-bottom fixed-top">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="../../assets/images/logo.png" alt="logo" />
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase" style="font-size: larger;">
    <a class="me-3 p-2 text-dark text-decoration-none" href="#">Home</a>
    <a class="me-3 p-2 text-dark text-decoration-none" href="#">Shop</a>
    <a class="me-3 p-2 text-dark text-decoration-none" href="#">Contact</a>
  </nav>

  <div class="d-flex justify-content-between">
    <a class="position-relative">
      <fa-icon [icon]="faShoppingCart" class="fa fa-2x mr-5"></fa-icon>
      <div class="cart-count">5</div>
    </a>
    <a class="btn btn-outline-secondary mr-2">Login</a>
    <a class="btn btn-outline-secondary mr-3">Sign Up</a>
  </div>
</div>
